.widget {
  width: 50%;
}

.months label.btn.btn-primary {
  width: 100px;
}

.days-month label.btn.btn-primary {
  width: 40px;
  border-radius: 0px;
}

select[name="days-month"]{
  height: 200px;
  width: 30px;
}

